repos:
  - repo: local
    hooks:
      - id: clippy
        name: clippy
        entry: cargo clippy -- -D warnings
        language: system
        pass_filenames: false
      - id: test
        name: test
        entry: cargo nextest run --run-ignored=all
        language: system
        pass_filenames: false
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
